* {
    box-sizing: border box
}
body {
    color:solid rgba(22, 16, 16, 0.753);
    background-color: rgba(107, 142, 196, 0.555);
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    text-align: center;
    width: 320px;
    height: 497px;
    background-color: rgba(253, 253, 253, 0.973);
    border-radius: 15px;

}
.titre {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    }

.sous-titre {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;

    text-align: center;
    color: hsl(220, 15%, 55%);
    }
#qrcode {
    border-radius: 15px;
    margin-top: 20px;
    transition: 1s ease;
   }

#qrcode:hover {
    transform: scale(1.02);
    border-color: #2f9ed1;
    box-shadow: 0 0 1rem #ffc600;
}
